<!-- card 2  MalwareBench Start-->
<div class="group cursor-pointer">
    <div class="overflow-hidden rounded-md bg-gray-100 transition-all hover:scale-105 dark:bg-gray-800">
        <a class="relative block aspect-video" href="./projects/MalwareBench/index.html"><!-- 修改 link-->
            <!-- 修改 img alt-->
            <img alt="MalwareBench" 
                class=" object-fill transition-all" data-nimg="fill" decoding="async" fetchpriority="high" height="540" 
                loading="lazy" style="position:absolute;height:100%;width:100%;inset:0;color:transparent" width="960"
                src="./imgs/MalwareBench.png"></a><!-- 修改 海报图片 -->
    </div> 
    <div>
        <div>
            <div class="flex gap-3"> <span class="inline-block text-xs font-medium tracking-wider mt-5 text-primary-700 dark:text-primary-300">
                    Code Generation Safety <!-- 修改 卡片标签 -->
                </span></div>
            <h2 class="text-lg font-semibold leading-snug tracking-tight mt-2 dark:text-white">
                <a href="./projects/MalwareBench/index.html"> <!-- 修改 link -->
                    <span class="bg-gradient-to-r from-primary-200 to-primary-100 bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px] dark:from-primary-800 dark:to-primary-900">
                        LLMs Caught in the Crossfire: Malware Requests and Jailbreak Challenges <!-- 修改 文章标题 -->
                    </span></a>
            </h2>
            <div class="grow">
                <p class="mt-2 line-clamp-3 text-sm text-gray-500 dark:text-gray-400"><a
                        href="./projects/MalwareBench/index.html"><!-- 修改 link -->
                        This work introduces the MalwareBench benchmark dataset, which innovatively combines the issue of malware generation and LLM attack methods. It highlights the significant challenges different types of LLMs currently face under malicious code instructions, providing direction for future research. <!-- 修改 一句话介绍 -->
                    </a></p>
            </div>
            <div class="flex-none">
                <div class="mt-3 flex items-center space-x-3 text-gray-500 dark:text-gray-400 cursor-default">
                    <time class="truncate text-sm">2025-05-15</time><!-- 修改 日期-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- card End -->