<!-- 新闻 1 -->
<article class="md:grid md:grid-cols-4 md:items-baseline">
	<div class="md:col-span-3 group relative flex flex-col items-start">
		<a href="https://mail-tele-ai.github.io/"> <!-- 链接 -->
			<h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
					<span class="relative z-10">
						🎉 Two papers were accepted by ACL 2025<!-- 标题 -->
					</span>
			</h2>
			<p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
				 <!-- 内容 -->
			</p>
			<div aria-hidden="true" class="relative z-10 mt-4 flex items-center text-sm font-medium text-primary-500">
				Read more <svg aria-hidden="true" class="ml-1 h-4 w-4 stroke-current" fill="none" viewBox="0 0 16 16"> <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path> </svg>
			</div>
		</a>
	</div>
	<time class="mt-1 hidden md:block relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500" datetime="2023-10-27">
		May 15, 2025  <!-- 时间 -->
	</time>
</article>
<!-- 新闻 结束 -->